<ion-header >
  <ion-toolbar >
    <ion-title>
      DuocCar
    </ion-title>
    <ion-label style="text-align:end; padding-left: 5%; color: rgb(255,183,27,1);;">
      versión: 1.0.0
    </ion-label>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <div id="container">
    <h1>Login</h1>
    <div id="containerInput">
      <ion-item color="none" mode="md">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="login.usuario"></ion-input>
      </ion-item>
      <ion-item color="none" mode="md">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="login.password"></ion-input>
      </ion-item>
    </div>
    <div id="containerButton">
      <ion-button expand="block" (click)="ingresar()" >Ingresar</ion-button>
    </div>
    <div id="containerButton">
      <ion-button (click)="registrar()" class="ion-margin-top blanco" expand="block" fill="outline">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
